# Python
__pycache__/
*.py[cod]
.pytest_cache/
.env
.venv/
venv/

# FastAPI / Uvicorn
*.log

# Node / Frontend
node_modules/
dist/
build/
.vite/

# Docker
.env
.env.local
.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Cache divers
.cache/
.parcel-cache/
.turbo/

.ipynb_checkpoints/
.env.example

database/db/
data/export/